# Operating systems
.DS_Store

# IDEs and editors
.idea/
*.iml
.vscode/
.atom/
*.swp

# NPM
node_modules/

# Miscellaneous
*.log

# Environment
*.env
!*example.env

# Docker Compose
docker-compose*.yml
!docker-compose.example.yml

# Database/file storage
*.sqlite
!database.empty.sqlite
data/
test/.devKeys
