name: CI

on: [push, pull_request]

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Build Docker image
        run: docker build -t retropilot-server:latest .
      - name: Run linter
        run: docker run --rm -v $(pwd)/config.sample.js:/app/config.js retropilot-server:latest npm run lint
#      - name: Run tests
#        run: docker run --rm -v $(pwd)/config.sample.js:/app/config.js retropilot-server:latest npm test
